.li-admin h2 {
    font-size: 16px;
}
.li-admin ul {
    padding: 1em 2em;
    list-style: none;
    font-weight: 700;
    font-size: 13px;
}
.li-admin li::before {
    content: "";
    background: #D20001;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    align-self: center;
    display: inline-block;
}
.li-admin li {
    display: flex;
    margin-top: 5px;
}
.li-admin p span:first-child {
    text-decoration: underline;
}
.li-admin p span:not(:first-child) {
    color: #289a37;
}
.add-panel {
    float: right;
    display: block;
    background: white;
    box-shadow: 3px 3px 30px #d6d6d6, -3px -3px 30px #ffffff;
    border-radius: 20px;
    content: '';
    width: 50%;
    height: 627px;
    margin-top: 20px;
    margin-bottom: 60px;
}
.add-panel h1 {
    margin: 20px 0;
    text-align: center;
}
.form-add input {
    width: 40%;
    margin: 30px 5%;
}
.form-add input#photo-licencie {
    display: none;
}
.form-add label {
    width: 40%;
    cursor: pointer;
    background: #fff;
    color: #1a1a1a;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    outline: none;
    color:#8A7575;
    margin: 30px 5%;
}
.form-add select {
    width: 40%;
    cursor: pointer;
    background: #fff;
    color: #1a1a1a;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    outline: none;
    color:#8A7575;
    margin: 30px 5%;
}
/* .form-add select#groupe-licencie option:checked {
    background-color: var(--mainColor);
    color:white;
} */
#nom-photo-licencie{
    color: var(--mainColor);
}
.form-add input.bouton-ajouter {
    width: auto;
    cursor: pointer;
    color: #ffffff !important;
    border: none;
    border-radius: 98px;
    cursor: pointer;
    padding: 16px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--mainColor);
    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
}
.form-add input.bouton-ajouter:hover {
    background-color: #000000;
}
.form-add input {
    color:#8A7575;
}
.form-add {
    display: flex;
    justify-content: center;
}
.mail-form-add input {
    width: 100%;
    margin: 30px 5%;
}
.mail-form-add {
    display: flex;
    justify-content: center;
}