/* Tableau de catégories */

#cate-educ-div {
    display: none;
}

#cate-educ {
    display: list-item;
    overflow-y: auto;
    max-height: 100px;
    margin: 10px 5%;
    flex-direction: column;
    margin-top: 0;
}

#cate-educ p {
    min-width: 0;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    color: #8A7575;
}

#cate-educ input {
    min-width: 0;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.cate-check {
    margin-bottom: 5px;
    justify-content: space-between;
    display: flex;
}

.cate-check:hover {
    background: rgb(236, 236, 236);
}


.list-cate-div {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.list-cate-div .responsable {
    margin: 20px 0;
}

.list-cate-div .spacer-form {
    margin: 10px 5%;
    content: '';
    width: 100%;
    font-size: 16px;
    outline: none;
    min-width: 40%;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    margin-top: 0;
}

.list-cate-div .cate-lign {
    width: 100%;
    font-size: 16px;
    outline: none;
    min-width: 40%;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    flex-direction: row;
}

.responsable label {
    margin: 0 !important;
    padding: 0 !important;
    cursor: default !important;
    justify-content: center !important;
    border: none !important;
    min-width: 0 !important;
    margin-right: 20px !important;
}

.responsable {
    display: flex;
    align-items: center;
}

/* 
--------------------------------------------------
-------------------PAGE COMPTE--------------------
-------------------------------------------------- 
*/

.account-container {
    margin-top: 20px;
    margin-bottom: 60px;
}

.account-panel {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
    border-radius: 100px;
    width: 100%;
}

.account-li {
    width: 20%;
}

.account-li-content {
    display: flex;
    width: 80%;
    height: auto;
    padding: 20px;
    background-color: #ededed;
    border-radius: 0 10px 10px 10px;
}

.account-container .account-li li {
    cursor: pointer;
    font-weight: 500;
    list-style: none;
    display: list-item;
    padding: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    transition: all 300ms ease 0ms;
}

.account-container .account-li li:hover {
    cursor: pointer;
}

.account-container .account-li li:first-child {
    background: var(--mainColor);
    color: white;
    border-radius: 10px 0 0 0;
}

.account-container .account-li li:last-child {
    border-radius: 0 0 0 10px;
}


#account-infos {
    display: flex;
}

#account-droits {
    display: none;
}

#account-settings {
    display: none;
}

.account-li-content #account-infos,
.account-li-content #account-droits,
.account-li-content #account-settings {
    width: 100%;
    flex-direction: column;
}

.account-li-content h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
}

.account-li-content label {
    width: 40%;
    height: 50px;
    cursor: pointer;
    background: #fff;
    color: #8A7575;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    outline: none;
}

#account-settings .color {
    margin-left: 10px;
    display: inline-block;
    width: 100px;
    height: 29px;
    background-color: var(--mainColor);
}

#account-settings p {
    display: flex;
    align-items: center;
}

#account-settings .img {
    width: 75px;
    height: 75px;
}

.logo-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/** reset input css */
.modif-settings input[type="color"] {
    appearance: auto;
    width: 50px;
    height: 27px;
    cursor: pointer;
    box-sizing: border-box;
    border-width: 1px;
    border: none;
    padding: 1px 2px;
}

.modif-settings input[type="file"] {
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
}

.modif-settings input[type="submit"] {
    width: 200px;
    color: #ffffff !important;
    border: none;
    border-radius: 98px;
    cursor: pointer;
    letter-spacing: 1px;
    text-align: center;
    padding: 16px;
    font-size: 16px;
    font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--mainColor);
    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
}

.modif-settings input[type="submit"]:hover {
    background-color: black;
}

.cancel-settings input[type="submit"] {
    width: fit-content;
    font-size: 15px;
    height: 27px;
    appearance: auto;
    user-select: none;
    white-space: pre;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    color: black;
    background-color: #ededed;
    padding: 1px 6px;
    border: none;
    transition: all 300ms ease 0ms;
}

.cancel-settings input[type="submit"]:hover {
    color: var(--mainColor);
}

.site-settings-values {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

#site-logo {
    display: none;
}

#nom-photo-logo {
    color: var(--mainColor);
}

.state-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    content: '';
}

.filter {
    margin-top: 40px;
    display: flex;
}

.filter div {
    width: 100%;
}

.filter div:not(:first-child) {
    margin-left: 20px;
}

.filter label {
    font-weight: 500;
    margin-left: 4px;
}

.filter input[type='search'] {
    margin-top: 10px;
    height: 50px;
    width: 100%;
    background-color: #F8F8F8;
    padding-left: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    color: #919191;
    font-size: 16px;
}

.filter input[type='submit'] {
    margin-top: 9px;
    cursor: pointer;
    position: absolute;
    height: 52px;
    width: 50px;
    margin-left: -50px;
    border-radius: 0 6px 6px 0;
    background-color: #000000c9;
    background-image: url(../images/search-icon-white.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

.filter select {
    appearance: none;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    background-color: #F8F8F8;
    padding-left: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    color: #919191;
    background-image: url(../images/chevron-bas-gris.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 30px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}



.cancel-filter {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: fit-content;
    padding: 10px 20px;
    background-color: #F8F8F8;
    font-weight: 500;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    cursor: pointer;
}

.modif-settings-site {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.modif-settings-site label {
    width: 30%;
    overflow: hidden;
}

.modif-settings-site label:last-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.envoyer-settings-modif {
    display: flex;
    justify-content: center;
}

.cancel-settings {
    display: flex;
    justify-content: flex-end;
}

.loading{
    display: none;
}

.loading img{
    width: 40px;
    margin: 0 auto;
    display: block;
    color: var(--mainColor);
}

/** SATISTIQUES **/ 

.stats-container {
    padding: 30px 0;
}

.statistiques-tab {
    overflow-x: auto;
}

.tab-and-scoreboard{
    margin-top: 20px;
    max-width: 1400px;
    display: flex;
}

/* Scoreboard */
.scoreboard {
    width: 30%;
    min-width: 300px;
    height: fit-content;
    border: 1px solid #e6e6e6;
    background-color: #F8F8F8;
    margin-right: 20px;
    padding: 20px;
    border-radius: 5px;
}

.scoreboard h3{
    font-weight: 600;
}

.scoreboard p{
    margin: 10px 0 10px 0;
}

/* Tableau */

.statistiques-tab{
    width: 70%;
    border-radius: 5px;
}

.statistiques-tab table {
    width: 100%;
    min-width: 800px;
    table-layout: fixed;
    border-collapse: collapse;
}

.statistiques-tab table th,
.statistiques-tab td {
    padding: 15px;
    text-align: left;
}

.statistiques-tab thead {
    background-color: #000000c9;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.statistiques-tab tbody {
    display: table-header-group;
    overflow: auto;
    width: 100%;
}

.statistiques-tab tbody tr:nth-child(even) {
    background-color: #dbdbdb;
}

.statistiques-tab td,
.statistiques-tab th {
    overflow-x: hidden;
    display: inline-block;
}

/* Icones */

.statistiques-tab tbody td a i {
    color: #242424;
}

.statistiques-tab tbody td .fa-pencil:hover {
    color: #575555;
    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
}

.statistiques-tab tbody td .fa-trash:hover {
    color: var(--errorColor);
    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
}

/* Taille des colonnes */
.statistiques-tab td:nth-child(1),
.statistiques-tab th:nth-child(1) {
    width: 10%;
}

.statistiques-tab td,
.statistiques-tab th {
    width: 22%;
}

/* reset buttons */ 
.stat-btn{
    width: 20px;
    height: 20px;
    appearance: auto;
    background: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.stat-btn i.fa-plus{
    color: green;
}

.stat-btn i.fa-minus{
    color: red;
}

.stat-btn:hover{
    background: none;
}

.stat-btn:hover i{
    color: black;
}

.download-csv {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 10px;
}

.download-csv a{
    width: fit-content;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: #F8F8F8;
    padding: 10px;
    margin-left: 10px;
}

/** COTISATIONS **/

.cotisations-tab {
    overflow-x: auto;
    margin: 30px 0 60px 0;
    border-radius: 5px;
}

/* Tableau éducateurs */

.cotis-container {
    padding: 30px 0;
}

.cotisations-tab table {
    width: 1400px;
    table-layout: fixed;
    border-collapse: collapse;
}

.cotisations-tab table th,
.cotisations-tab td {
    padding: 15px;
    text-align: left;
}

.cotisations-tab thead {
    background-color: #000000c9;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.cotisations-tab tbody {
    display: table-header-group;
    overflow: auto;
    width: 100%;
}

.cotisations-tab tbody tr:nth-child(even) {
    background-color: #dbdbdb;
}

.cotisations-tab td,
.cotisations-tab th {
    overflow-x: hidden;
    display: inline-block;
}

/* Taille des colonnes */

.cotisations-tab th:nth-child(1),
.cotisations-tab td:nth-child(1){
    width: 10%;
}

.cotisations-tab th:nth-child(2),
.cotisations-tab td:nth-child(2){
    width: 14%;
}

.cotisations-tab th:nth-child(3),
.cotisations-tab td:nth-child(3){
    width: 22%;
}

.cotisations-tab th:nth-child(4),
.cotisations-tab td:nth-child(4){
    width: 24%;
}

.cotisations-tab th:nth-child(5),
.cotisations-tab td:nth-child(5){
    width: 18%;
}

.cotisations-tab th:nth-child(6),
.cotisations-tab td:nth-child(6){
    width: 8%;
}

.cotisations-tab select{
    border: none;
    background: transparent;
}

