/* Tableau de catégories */

#cate-educ-div {
    display: none;
}

#cate-educ {
    display: list-item;
    overflow-y: auto;
    max-height: 100px;
    margin: 10px 5%;
    flex-direction: column;
    margin-top: 0;
}

#cate-educ p {
    min-width: 0;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    color: #8A7575;
}

#cate-educ input {
    min-width: 0;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.cate-check {
    margin-bottom: 5px;
    justify-content: space-between;
    display: flex;
}

.cate-check:hover {
    background: rgb(236, 236, 236);
}


.list-cate-div {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.list-cate-div .responsable {
    margin: 20px 0;
}

.list-cate-div .spacer-form {
    margin: 10px 5%;
    content: '';
    width: 100%;
    font-size: 16px;
    outline: none;
    min-width: 40%;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    margin-top: 0;
}

.list-cate-div .cate-lign {
    width: 100%;
    font-size: 16px;
    outline: none;
    min-width: 40%;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    flex-direction: row;
}

.responsable label {
    margin: 0 !important;
    padding: 0 !important;
    cursor: default !important;
    justify-content: center !important;
    border: none !important;
    min-width: 0 !important;
    margin-right: 20px !important;
}

.responsable {
    display: flex;
    align-items: center;
}