:root {
    --app-height: 100vh;
}

html {
    height: -webkit-fill-available;
}
h1 {
    margin-left: 2%;
    font-size: 25px;
}
h1 p{
    font-size: 20px;
}
.formulaire_login{
    width: 100%;
    height: 100vh;
    height: var(--app-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    padding: 0;
}
.form_container{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 2em;
    background-color: white;
    box-shadow: 0 0 7px rgb(0 0 0 / 44%);
    border-radius: 4px;
}
.form_content{
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.logo_association{
    display: flex;
    justify-content: center;
}
.logo_association img{
    width: 190px;
}
div.mail, div.password, div.submit{
    margin: 0 0 20px;
    position: relative;
}
input {
    width: 100%;
    background: #fff;
    color: #1a1a1a;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    height: 50px;
    padding: 15px;
    /* -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; */
    font-size: 16px;
    outline: none;
}

input#password {
    padding-right: 50px;
}
.field_label_top{
    position: absolute;
    -webkit-transition-property: top,left,opacity;
    -o-transition-property: top,left,opacity;
    transition-property: top,left,opacity;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    opacity: 0;
    color: #626262;
    font-size: 16px;
    top: 17px;
    left: 15px;
    pointer-events: none;
}
.field_label_top_focused .field_label_top, .field_label_top_filled .field_label_top{
    background: #fff;
    font-size: 12px;
    line-height: 12px;
    padding: 0 4px;
    top: -6px;
    left: 12px;
    opacity: 1;
}
.field_label_top_focused::placeholder{
    -webkit-transition-property: top,left,opacity;
    -o-transition-property: top,left,opacity;
    transition-property: top,left,opacity;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    opacity: 0;
}
.form_field_error_password{
    text-align: left;
    color: #d20000;
    font-size: 12px;
    margin-top: 6px;
    display: none;
}
.form_field_error_mail{
    text-align: left;
    color: #d20000;
    font-size: 12px;
    margin-top: 6px;
    display: none;
}
input::placeholder{
    opacity: 1;
}
.forgot_pwd{
    font-size: 12px;
    margin-top: 8px;
    float: right;
}
.submit{
    display: flex;
    justify-content: center;
}
a.view_password_link {
    position: absolute;
    right: 18px;
    top: 17px;
    color: #1a1a1a;
}
@media screen and (max-width:800px){
.form_container{
    box-shadow: none;
}
h1 {
    font-size: 20px;
}
h1 p{
    font-size: 15px;
}
}