@media screen and (max-width:1438px) {
    td.action-btns.btns-1 {
        text-align: center;
        position: absolute;
        background-color: white;
        z-index: 2;
        right: 66px;
        height: 50px;
        width: 50px !important;
        padding: 15px !important;
        box-shadow: -45px 0px 30px -15px rgb(0 0 0 / 18%);
    }

    td.action-btns.btns-2 {
        text-align: center;
        position: absolute;
        background-color: white;
        z-index: 1;
        right: 18px;
        height: 50px;
        width: 50px !important;
        padding: 15px !important;
    }

    .pagination {
        position: absolute;
        right: 22px;
    }
}

/* -----Tablette----- */

@media screen and (max-width:1150px) {
    .modif-settings-site label {
        width: 80%;
        overflow: hidden;
        margin: 10px 0;
    }

    .site-settings-values {
        padding: 30px 0;
        flex-direction: column;
    }

    .modif-settings-site {
        padding: 30px 0;
        flex-direction: column;
    }

    .add-short-panel {
        display: none;
    }

    .add-container {
        flex-direction: column-reverse;
    }

    .add-panel {
        width: 100%;
        margin-bottom: 30px;
        box-shadow: none;
    }

    .modif-li-short-panel {
        display: none;
    }

    .modif-li-container {
        flex-direction: column-reverse;
    }

    .modif-li-panel {
        width: 100%;
        margin-bottom: 30px;
        box-shadow: none;
    }

    .account-panel {
        flex-direction: column;
    }

    .account-li {
        width: 100%;
    }

    .account-li ul {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .account-li li {
        width: 50%;
    }

    .account-li-content {
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .account-container .account-li li:first-child {
        border-radius: 10px 0 0 0;
    }

    .account-container .account-li li:last-child {
        border-radius: 0 10px 0 0;
    }

    .profil-content,
    .profil-img {
        width: 100%;
    }

    .profil-img {
        margin-top: 20px;
    }

    .profil-content-tab-button {
        width: 100%;
        justify-content: center;
    }

    .profil-container-part1 {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:800px) {
    .info-settings-modif {
        display: flex;
        align-items: baseline;
        max-width: 50%;
        overflow: auto;
    }

    .welcome-admin h1 {
        font-size: 20px;
    }

    .welcome-admin p {
        font-size: 15px;
    }

    .add-panel input,
    .add-panel label,
    .add-panel select {
        font-size: 13px;
    }

    .modif-li-panel input,
    .modif-li-panel label,
    .modif-li-panel select {
        font-size: 13px;
    }

    .account-li li {
        font-size: 15px !important;
    }

    .tab-and-scoreboard {
        flex-direction: column;
    }

    .statistiques-tab {
        width: 100%;
        margin-top: 20px;
    }

    .container-scoreboard {
        width: 100%;
        min-width: 100%;
        margin: 0;
    }

    .scoreboard {
        width: 100%;
        min-width: 100%;
        margin: 0;
    }

    .filter {
        flex-direction: column;
    }

    .filter div {
        width: 100%;
    }

    .filter div:not(:first-child) {
        margin-left: 0px;
    }

    .filter div:not(:first-child) {
        margin-top: 20px;
    }

    .site-settings-head,
    .site-settings-logo,
    .site-settings-color,
    .site-settings-name {
        font-size: 14px;
    }
}

/* -----Téléphone----- */

@media screen and (min-width:500px) {
    .account-li li i {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .li-admin h2 {
        font-size: 16px;
    }

    .li-admin li p {
        font-size: 12px;
    }

    .account-li li {
        text-align: center;
    }

    .account-li li i {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }

    .account-li li p {
        display: none;
    }
    .profil-img img {
        width: 100%;
    }
    .filter {
        flex-direction: column;
    }

    .filter div {
        width: 100%;
    }

    .filter div:not(:first-child) {
        margin-left: 0px;
    }

    .filter div:first-child {
        margin-bottom: 20px;
    }
}