* {
    margin: 0;
    padding: 0;
}

/* 
--------------------------------------------------
--------------------PAGE ADMIN--------------------
-------------------------------------------------- 
*/

/* -----Page administateur Welcome----- */

.welcome-admin {
    margin-top: 20px;
}

.welcome-admin h1 {
    font-size: 25px;
}

.welcome-admin p {
    font-size: 20px;
    margin-top: 10px;
    padding: 0;
}

/* -----Page administateur Panel de cases----- */

.admin-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.admin-panel a {
    display: flex;
    width: 250px;
    height: 250px;
    padding: 10px;
    background-color: #ffffff;
    text-decoration: none;
    text-align: center;
    color: black;
    border-radius: 10px;
    box-shadow: 3px 3px 40px #f3f3f3, -3px -3px 30px #ffffff;
    margin: 20px;
    transition: 0.3s;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
}

.admin-panel a:hover {
    box-shadow: 3px 3px 30px #d6d6d6, -3px -3px 30px #ffffff;
}

.admin-panel a i {
    font-size: 100px;
    font-weight: 200;
}

.admin-panel a p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin-top: 20px;
}

@media screen and (max-width:700px) {
    .admin-panel {
        width: 100%;
    }

    .admin-panel a i {
        font-size: 60px;
    }

    .admin-panel a {
        width: 45%;
        height: 170px;
        margin: 5px;
    }

}

/* -----Page d'administration Déconnexion----- */

.deconnect {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    width: 100%;
}

.deconnect a {
    color: #ffffff !important;
    border: none;
    border-radius: 98px;
    cursor: pointer;
    letter-spacing: 1px;
    text-align: center;
    padding: 16px;
    font-size: 16px;
    font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--mainColor);
    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
}

.deconnect a:hover {
    letter-spacing: 1px;
    background-color: #000000;
}

/* -----Page d'administration Liste----- */
section.panel-down {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}

.li-admin {
    width: 50%;
}

.li-admin h2 {
    font-size: 25px;
}

.li-admin ul {
    padding: 1em 2em;
    list-style: none;
    font-weight: 700;
    font-size: 18px;
}

.li-admin li::before {
    content: "";
    background: #D20001;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    align-self: center;
    display: inline-block;
}

.li-admin li {
    display: flex;
    margin-top: 5px;
}

.li-admin p span:first-child {
    text-decoration: underline;
}

.li-admin p span:not(:first-child) {
    color: var(--mainColor);
}

div.chartJS {
    width: 50%;
}

.chartJS>div {
    max-width: 550px;
    margin: 0 auto;
}

@media screen and (max-width:747px) {
    .li-admin {
        width: 100%;
    }

    div.chartJS {
        width: 100%;
    }

    section.panel-down {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:500px) {
    .chartJS h2 {
        font-size: 16px;
    }
}

/* 
--------------------------------------------------
--------------------PAGE ADDLI--------------------
-------------------------------------------------- 
*/

.add-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 60px;
}

/* -----Page d'ajout Liste----- */

.add-panel {
    padding: 20px;
    flex-basis: 50%;
    background: white;
    box-shadow: 3px 3px 30px #d6d6d6, -3px -3px 30px #ffffff;
    border-radius: 20px;
    height: auto;
}

.add-panel h1 {
    margin: 20px 0;
    text-align: center;
}

.add-panel-separator {
    content: '';
    background: var(--mainColor);
    width: 50px;
    height: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* -----Page d'ajout Formulaire */

.form-add {
    display: flex;
    justify-content: center;
}

.form-add input {
    min-width: 40%;
    margin: 30px 5%;
    color: #8A7575;
}

.form-add input#photo-licencie {
    display: none;
}

.form-add label {
    min-width: 40%;
    cursor: pointer;
    background: #fff;
    color: #1a1a1a;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    outline: none;
    color: #8A7575;
    margin: 30px 5%;
}

#nom-photo-licencie {
    color: var(--mainColor);
}

.form-add select {
    width: 100%;
    cursor: pointer;
    background: #fff;
    color: #1a1a1a;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    outline: none;
    color: #8A7575;
    margin: 30px 5%;
}

.mail-form-add {
    display: flex;
    justify-content: center;
}

.mail-form-add input {
    color: #8A7575;
    width: 100%;
    margin: 30px 5%;
}

.form-add input.bouton-ajouter {
    width: auto;
    color: #ffffff !important;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--mainColor);
    transition: all 300ms ease 0ms;
    margin: 0;
}

.form-add input.bouton-ajouter:hover {
    background-color: #000000;
}

/* 
--------------------------------------------------
--------------------PAGE TABLI--------------------
-------------------------------------------------- 
*/

.li-container {
    padding: 30px 0;
}

.licencie-tab {
    overflow-x: auto;
    border-radius: 5px;
    margin: 30px 0 60px 0;
}

/* Tableau */

.licencie-tab table {
    width: 1400px;
    table-layout: fixed;
    border-collapse: collapse;
}

.licencie-tab table th,
.licencie-tab td {
    padding: 15px;
    text-align: left;
}

.licencie-tab thead {
    background-color: var(--mainColor);
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.licencie-tab tbody {
    display: table-header-group;
    overflow: auto;
    width: 100%;
}

.licencie-tab tbody tr:nth-child(even) {
    background-color: #dbdbdb;
}

.licencie-tab td,
.licencie-tab th {
    overflow-x: hidden;
    display: inline-block;
}

/* Icones */

.licencie-tab tbody td a i {
    color: #242424;
}

.licencie-tab tbody td .fa-pencil:hover {
    color: #575555;
    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
}

.licencie-tab tbody td .fa-trash:hover {
    color: var(--errorColor);
    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
}

/* Taille des colonnes */

.licencie-tab td:nth-child(1),
.licencie-tab th:nth-child(1) {
    width: 5%;
}

.licencie-tab td:nth-child(2),
.licencie-tab th:nth-child(2) {
    width: 10%
}

.licencie-tab td:nth-child(3),
.licencie-tab th:nth-child(3) {
    width: 10%;
}

.licencie-tab td:nth-child(4),
.licencie-tab th:nth-child(4) {
    width: 13%;
}

.licencie-tab td:nth-child(5),
.licencie-tab th:nth-child(5) {
    width: 21%;
}

.licencie-tab td:nth-child(6),
.licencie-tab th:nth-child(6) {
    width: 15%;
}

.licencie-tab td:nth-child(7),
.licencie-tab th:nth-child(7) {
    width: 15%;
}

.licencie-tab td:nth-child(8),
.licencie-tab th:nth-child(8) {
    width: 2%;
}

.licencie-tab td:nth-child(9),
.licencie-tab th:nth-child(9) {
    width: 2%;
}

.licencie-tab td:nth-child(10),
.licencie-tab th:nth-child(10) {
    width: 2%;
}

tbody tr:hover {
    background-color: rgb(206, 214, 223) !important;
}

.action-btns {
    width: 50px !important;
}

/* Pagination */

.row-hidden {
    display: none;
}

.pagination-div li a {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: var(--mainColor);
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 700;
    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
}

.pagination-div ul{
    margin-top: 15px;
}

.pagination-div li:not(:last-child) {
    margin-right: 15px;
}

.pagination-div li a:hover {
    letter-spacing: 1px;
    background-color: black;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Pop-up */

#Modal {
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.Modal-delete {
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 300px;
    height: 115px;
    display: none;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.Modal-delete p {
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
}

.Modal-delete a {
    font-size: 20px;
    display: flex;
    width: 30px;
    height: 30px;
    margin: 0 30px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 300ms ease 0ms;
    justify-content: center;
    align-items: center;
}

.Modal-delete a:hover {
    color: green;
}

.Modal-delete a:last-child:hover {
    color: var(--errorColor);
}

.Modal-delete .modal-button {
    display: flex;
}

/* Pop-up photo */

.Modal-photo {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.Modal-image {
    padding: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-photo-icon-close {
    display: flex;
    justify-content: flex-end;
}

.modal-photo-icon-close i {
    margin: 20px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: white;
    display: flex;
    border: none;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 100ms ease 0ms;
}

.modal-photo-icon-close i:hover {
    color: rgb(236, 236, 236);
}

.Modal-image img {
    max-width: 500px;
    max-height: 500px;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
}

/* 
--------------------------------------------------
--------------------PAGE MODIF--------------------
-------------------------------------------------- 
*/

.modif-li-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

/* -----Page d'ajout Liste----- */

.modif-li-panel {
    padding: 20px;
    width: 50%;
    background: white;
    box-shadow: 3px 3px 30px #d6d6d6, -3px -3px 30px #ffffff;
    border-radius: 20px;
    height: auto;
}

.modif-li-panel h1 {
    margin: 20px 0;
    text-align: center;
}

.modif-li-panel-separator {
    content: '';
    background: var(--mainColor);
    width: 50px;
    height: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* -----Page d'ajout Formulaire */

.form-modif-li {
    display: flex;
    justify-content: center;
}

.form-modif-li input {
    min-width: 40%;
    margin: 30px 5%;
    color: #8A7575;
}

.form-modif-li input#photo-licencie {
    display: none;
}

.form-modif-li label {
    min-width: 40%;
    cursor: pointer;
    background: #fff;
    color: #8A7575;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    outline: none;
    margin: 30px 5%;
}

#nom-photo-licencie {
    color: var(--mainColor);
}

.form-modif-li select {
    width: 40%;
    cursor: pointer;
    background: #fff;
    color: #8A7575;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    outline: none;
    color: #8A7575;
    margin: 30px 5%;
}

.mail-form-modif-li {
    display: flex;
    justify-content: center;
}

.mail-form-modif-li input {
    width: 100%;
    margin: 30px 5%;
    color: #8A7575;
}

.form-modif-li input.bouton-ajouter {
    width: auto;
    color: #ffffff !important;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--mainColor);
    transition: all 300ms ease 0ms;
    margin: 0;
}

.form-modif-li input.bouton-ajouter:hover {
    background-color: #000000;
}

.form-add input#check-resp {
    margin: 0;
    min-width: 0;
    margin: 0 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form-add input#table-cb {
    margin: 0;
    min-width: 0;
    margin: 0 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form-add input#check-resp-hide {
    display: none;
}

/* 
--------------------------------------------------
--------------------PAGE EDUCS--------------------
-------------------------------------------------- 
*/

.educateur-tab {
    overflow-x: auto;
    margin: 30px 0 60px 0;
    border-radius: 5px;
}

/* Tableau éducateurs */

.edu-container {
    padding: 30px 0;
}

.educateur-tab table {
    width: 1400px;
    table-layout: fixed;
    border-collapse: collapse;
}

.educateur-tab table th,
.educateur-tab td {
    padding: 15px;
    text-align: left;
}

.educateur-tab thead {
    background-color: var(--mainColor);
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.educateur-tab tbody {
    display: table-header-group;
    overflow: auto;
    width: 100%;
}

.educateur-tab tbody tr:nth-child(even) {
    background-color: #dbdbdb;
}

.educateur-tab td,
.educateur-tab th {
    overflow-x: hidden;
    display: inline-block;
}

/* Taille des colonnes */

.educateur-tab td:nth-child(1),
.educateur-tab th:nth-child(1) {
    width: 20%;
}

.educateur-tab td:nth-child(2),
.educateur-tab th:nth-child(2) {
    width: 23%
}

.educateur-tab td:nth-child(3),
.educateur-tab th:nth-child(3) {
    width: 24%;
}

.educateur-tab td:nth-child(4),
.educateur-tab th:nth-child(4) {
    width: 25%;
}

.educateur-tab td:nth-child(5),
.educateur-tab th:nth-child(5) {
    width: 2%;
}

.educateur-tab td:nth-child(6),
.educateur-tab th:nth-child(6) {
    width: 2%;
}

/* Icones */

.educateur-tab tbody td a i {
    color: #242424;
}

td i.fa.fa-picture-o:hover {
    color: #575555;
}

.educateur-tab tbody td .fa-pencil:hover {
    color: #575555;
}

.educateur-tab tbody td .fa-picutre-o:hover {
    color: #575555 !important;
}

.educateur-tab tbody td .fa-trash:hover {
    color: var(--errorColor);
    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
}